[submodule "opensur/fe"]
	path = opensur/fe
	url = git@git.opensur.com:uruguay/fe_new.git
	branch = uruit.test
[submodule "uruit"]
	path = uruit
	url = git@git.opensur.com:clientes/uruit.git
	branch = master
[submodule "OCA/web"]
	path = OCA/web
	url = https://github.com/OCA/web.git
	branch = 12.0
[submodule "OCA/multi-company"]
	path = OCA/multi-company
	url = https://github.com/OCA/multi-company.git
	branch = 12.0
[submodule "OCA/server-tools"]
	path = OCA/server-tools
	url = https://github.com/OCA/server-tools.git
	branch = 12.0
[submodule "OCA/contract"]
	path = OCA/contract
	url = https://github.com/OCA/contract.git
	branch = 12.0
[submodule "OCA/server-backend"]
	path = OCA/server-backend
	url = https://github.com/OCA/server-backend.git
	branch = 12.0
[submodule "opensur/kpi"]
	path = opensur/kpi
	url = git@git.opensur.com:laboratorio/kpi_dashboard.git
	branch = 12.0
